*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties

.classpath
.project
proguard/
*.ipr
*.iws
app/build/

.idea/*.xml
.idea/caches

!.idea/gradle.xml
!.idea/runConfigurations/*.xml